body {font-family: 'Roboto Condensed', sans-serif; background-color: #94bdff;}
h1 {font-size: 48px; font-weight: bold;}
h2 {font-size: 24px; font-weight: bold;}
h3 {font-size: 18px; font-weight: normal;}
a {text-decoration: none;}
#hidden {display: none;}
#div-templateyt {display: none;}
#div-templateytlive {display: none;}
#div-templatecustom {display: none;}
#main {background-color: white; max-width: 400px;}