body {font-family: 'Roboto Condensed', sans-serif; background-color: #00b140;}
h1 {font-size: 180px; font-weight: bold; text-align: center;}
#stopwatch 
{
    display: inline-block;
    text-align: center;
	background-color: black; 
	max-width: 900px; 
	height: 220px; 
	color:white; 
    margin:auto;
}