body {font-family: 'Roboto Condensed', sans-serif; background-color: #00b140;}
#time {font-weight: bold; text-align: center; background-color: black; background-size: cover;}
#stopwatch 
{
	font-size: 72px; 
	color:white; 
}


button 
{
  background-color: #1F92FF;
  border: none;
  color: white;
  margin-right:10px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Roboto Condensed'; 
}

button:disabled
{
	background-color: gray;	
}
