body {font-family: 'Roboto Condensed', sans-serif;}
#eq {display:inline-block;margin-right:10px;} 
#mk {display:inline-block;margin-right:10px;} 
#eqmt {display:inline-block;margin-right:10px;} 
#mkmt {display:inline-block;margin-right:10px;} 
#nt {display:inline-block;margin-right:10px;} 
#wd {display:inline-block;margin-right:10px;} 
#ntmt {display:inline-block;margin-right:10px;} 
#wdmt {display:inline-block;margin-right:10px;} 
#lb {display:inline-block;margin-right:10px;} 
#at {display:inline-block;margin-right:10px;} 
#lbmt {display:inline-block;margin-right:10px;} 
#atmt {display:inline-block;margin-right:10px;} 
#td {display:inline-block;margin-right:10px;} 
#pg {display:inline-block;margin-right:10px;} 
#tdmt {display:inline-block;margin-right:10px;} 
#pgmt {display:inline-block;margin-right:10px;} 
h1 {font-size: 48px; font-weight: bold;}
h2 {font-size: 24px; font-weight: bold;}
h3 {font-size: 20px; font-weight: normal;}